<footer>
	<!-- <section class="social">
		<div class="container">
			<ul>
				<li><% link_to 'javascript:void(0);', :target=>'_blank' do %><i class="fa fa-facebook-square"></i>Facebook<% end %></li>
				<li><% link_to 'javascript:void(0);', :target=>'_blank' do %><i class="fa fa-linkedin-square"></i>Linked In<% end %></li>
				<li><% link_to 'javascript:void(0);', :target=>'_blank' do %><i class="fa fa-twitter-square"></i>Twitter<% end %></li>
			</ul>
		</div>
	</section> -->
	<section class="main">
		<div class="container">
			<ul>
				<li><%= link_to 'About','about.html'%></li>
		    <li><%= link_to 'Services','services.html'%></li>
		    <li><%= link_to 'Sustainability','sustainability.html'%></li>
		    <li><%= link_to 'Safety','safety.html'%></li>
		    <li><%= link_to 'Projects','projects.html'%></li>
		    <li><%= link_to 'Team','team.html'%></li>
		    <li><%= link_to 'Careers','careers.html'%></li>
		    <li><%= link_to 'Contact','contact.html'%></li>
			</ul>
			<span>
				<%= image_tag 'logo-small.png' %>
				Copyright 1974-2015 Arico Mechanical Inc. All Rights Reserved.
			</span>
		</div>
	</section>
</footer>