<nav>
	<div class="container">
		<% link_to '/', :class=>'site-id' do %>
			<%= image_tag 'logo.png' %>
		<% end %>

		<!-- toggle hamburger button -->
		<div class="ecg-burger"></div>
		<!-- menu -->
		<section class="ecg-menu">
		  <ul class="primary">
		    <li>
		    	<%= link_to 'About <i class="fa fa-angle-down"></i>','about.html', :class=>'has-sub'%>
		    	<ul class="sub">
		    		<li><a href="history.html">History</a></li>
		    		<li><a href="corporate-culture.html">Corporate Culture</a></li>
		    		<li><a href="core-values.html">Core Values</a></li>
		    		<li><a href="market-sectors.html">Market Sectors</a></li>
		    		<li><a href="affiliations.html">Affiliations</a></li>
		    	</ul>
		    </li>
		    <li>
		    	<%= link_to 'Services <i class="fa fa-angle-down"></i>','services.html', :class=>'has-sub' %>
		    	<ul class="sub">
		    		<li><a href="design-build.html">Design Build</a></li>
		    		<li><a href="construction.html">Construction</a></li>
		    		<li><a href="special-projects.html">Special Projects</a></li>
		    		<li><a href="controls.html">Controls</a></li>
		    		<li><a href="testing-adjusting-and-balancing.html">Testing, Adjusting, &amp; Balancing</a></li>
		    	</ul>
		    </li>
		    <li><%= link_to 'Sustainability','sustainability.html'%></li>
		    <li><%= link_to 'Safety','safety.html'%></li>
		    <li><%= link_to 'Projects','projects.html'%></li>
		    <li><%= link_to 'Team','team.html'%></li>
		    <li><%= link_to 'Careers','careers.html'%></li>
		    <li><%= link_to 'Contact','contact.html'%></li>
		    <!-- <li class="submenu"><a href="javascript:void(0)"><span>Sub menu item</span></a>
		      <ul>
		        <li><a href="javascript:void(0)">Sub child 1</a></li>
		        <li><a href="javascript:void(0)">Sub child 2</a></li>
		        <li><a href="javascript:void(0)">Sub child 3</a></li>
		      </ul>
		    </li> -->
		  </ul>
		</section>
	</div>
</nav>