<nav>
	<div class="container">
		<% link_to '/', :class=>'site-id' do %>
			<%= image_tag 'logo-full.png' %>
		<% end %>

		<!-- toggle hamburger button -->
		<div class="ecg-burger"></div>
		<!-- menu -->
		<section class="ecg-menu">
		  <ul>
		    <li><%= link_to 'About','about.html'%></li>
		    <li><%= link_to 'Services','services.html'%></li>
		    <li><%= link_to 'Sustainability','sustainability.html'%></li>
		    <li><%= link_to 'Safety','safety.html'%></li>
		    <li><%= link_to 'Projects','projects.html'%></li>
		    <li><%= link_to 'Careers','careers.html'%></li>
		    <li><%= link_to 'Contact','contact.html'%></li>
		    <!-- <li class="submenu"><a href="javascript:void(0)"><span>Sub menu item</span></a>
		      <ul>
		        <li><a href="javascript:void(0)">Sub child 1</a></li>
		        <li><a href="javascript:void(0)">Sub child 2</a></li>
		        <li><a href="javascript:void(0)">Sub child 3</a></li>
		      </ul>
		    </li> -->
		  </ul>
		</section>
	</div>
</nav>