---
title: Services
---

<section class="u-hero">
	<div class="container">
		<h1>Services</h1>
	</div>
</section>

<div class="u-grey-bg">
  <section class="container padding-md">
   <!--
    <div class="row padding-sm">
      <div class="col-xs-12">
        <div class="about-slick">
          <div><%= image_tag 'http://placehold.it/970x300'%></div>
          <div><%= image_tag 'http://placehold.it/970x300'%></div>
          <div><%= image_tag 'http://placehold.it/970x300'%></div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="row-height">
        <div class="col-xs-12 col-md-8 col-md-height col-middle">
          <p class="margin-none">
            Airco Mechanical has always enjoyed a reputation for providing uncompromising quality and service before, during and after project completion. We focus on what is most important to our clients...system and people reliability, uncompromising quality, value, service, and attention to their needs. We offer 24/7, 365 day service &amp; repair for our commercial and industrial buildings.
          </p>
        </div>
        <div class="col-xs-12 col-md-4 col-md-height col-middle">
          <%= image_tag 'services.jpg', :class=>'u-centered margin-sm' %>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="container padding-md">
	<div class="row">
	  <div class="col-xs-12 col-sm-4 col-md-12">
	    <ul ezt="1" class="ezt-nav about-ezt">
	      <li><a href="javacsript:void(0);" class="ezt-active">Design Build</a></li>
	      <li><a href="javacsript:void(0);">Construction</a></li>
	      <li><a href="javacsript:void(0);">Special projects</a></li>
	      <li><a href="javacsript:void(0);">Controls</a></li>
	      <li><a href="javacsript:void(0);">Testing, Adjusting, &amp; Balancing</a></li>
	    </ul>
	  </div>
	  <div class="col-xs-12 col-sm-8 col-md-12">
	    <div ezt="1" class="ezt-container about-ezt-container">
	      <div class="ezt-content margin-sm ezt-active">
	        <p>
	          Exceeding the needs of today’s construction industry has inspired the design/build philosophy at Airco Mechanical, Inc. Airco is a single source for the entire mechanical system of a building, from design to complete installation, to warranty and after in the preventative maintenance and service of the building.  
	        </p>
	        <%= link_to 'Read More', 'design-build.html', :class=>'button u-text-center' %>
	      </div>
				<div class="ezt-content margin-sm">
					<p>
						Airco’s field operation is capable of delivering any size project. We have the resources and technology necessary to keep standards high, while maintaining the project budget. Our teams work closely with building owners, general contractors, vendors and Airco’s engineering and controls departments to ensure that each project goes according to cost and schedule estimates. 
					</p>
					<%= link_to 'Read More', 'construction.html', :class=>'button u-text-center' %>
				</div>
				<div class="ezt-content margin-sm">
					<p>
						Airco’s Special Projects Group was formed to service our clients fast track needs. We understand that smaller projects are often in occupied buildings and therefore need the same attention to detail as the rest of our work. 
					</p>
					<%= link_to 'Read More', 'special-projects.html', :class=>'button u-text-center' %>
				</div>
				<div class="ezt-content margin-sm">
					<p>
						Airco Automation provides products and services intended to maximize comfort and efficiency within commercial buildings, institutional buildings, as well as data centers.  Building automation systems optimize the performance and maintenance of multiple building control systems. Airco uses Automated Logic control products that enable building owners / managers to integrate, automate and manage their buildings easily and efficiently.  Building automation systems greatly increase occupant comfort, decrease energy use and allow remote monitoring and control from anywhere in the world.
					</p>
					<%= link_to 'Read More', 'controls.html', :class=>'button u-text-center' %>
				</div>
				<div class="ezt-content margin-sm">
					<p>
						As a TABB certified* company, Airco Automation, Inc offers design professionals, engineers and building owners the highest standard in testing and balancing of commercial HVAC systems.
					</p>
					<%= link_to 'Read More', 'testing-adjusting-and-balancing.html', :class=>'button u-text-center' %>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="u-cta">
  <div class="container">
    <div class="u-forground">
      <h2>Get Started</h2>
      <p>
       For questions or general information.
      </p>
      <%= link_to 'Contact Us', 'contact.html', :class=>'button button-green' %>
    </div>
  </div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
	  $('.about-slick').slick({
	    autoplay: true,
	    mobileFirst: true,
	    prevArrow: '<i class="fa fa-chevron-left"></i>',
	    nextArrow: '<i class="fa fa-chevron-right"></i>'
	  });
	});
</script>