---
title: Team
---

<section class="u-hero">
  <div class="container">
    <h1>Team</h1>
  </div>
</section>

<section class="container margin-xs l-team-body">
	<div class="row padding-sm">
		<div class="row-height">
			<div class="col-xs-12 col-lg-height col-middle col-lg-6">
				<div class="row">
					<div class="row-height">
						<div class="col-xs-12 col-sm-4 col-sm-height col-middle">
							<%= image_tag 'wyatt.jpg' %>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-height col-middle">
							<h3>Wyatt Jones</h3>
							<h5>President</h5>
							<p>Team Member since 1994</p>						
							<p>
								Mr. Jones has experience in almost every department at Airco Mechanical, Inc. He has been a team member at Airco Mechanical, Inc. since 1994.  Raised in the construction industry, Mr. Jones holds his own Contractors License.  In addition to his tenure at Airco, Mr. Jones spent a number of years working in the capacity of a superintendent and project manager for a local general contracting firm.  
							</p>
							<%= link_to 'WyattJ@AircoMech.com', 'mailto:WyattJ@AircoMech.com' %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-lg-height col-middle col-lg-6">
				<div class="row">
					<div class="row-height">
						<div class="col-xs-12 col-sm-4 col-sm-height col-middle">
							<%= image_tag 'joann.jpg', :class=>'u-full' %>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-height col-middle">
							<h3>Joann Hillenbrand, CCIFP</h3>
							<h5>Chief Financial Officer</h5>
							<p>Team Member since 2012</p>						
							<p>
								As CFO, Ms. Hillenbrand oversees all aspects of finances, including accounting, reporting, surety, banking, risk management and human resources.  Joann has held financial management positions over the course of her career for both specialty contractors and general contractors. 
							</p>
							<%= link_to 'JoannH@AircoMech.com', 'mailto:JoannH@AircoMech.com' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row padding-sm">
		<div class="row-height">
			<div class="col-xs-12 col-lg-height col-middle col-lg-6">
				<div class="row">
					<div class="row-height">
						<div class="col-xs-12 col-sm-4 col-sm-height col-middle">
							<%= image_tag 'brian.jpg' %>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-height col-middle">
							<h3>Brian Leighton, LEED®AP</h3>
							<h5>Construction Department Manager</h5>
							<p>Team Member since 1987</p>						
							<p>
								Mr. Leighton has over thirty (30) years’ experience in project management and extensive work in field systems. He oversees all construction projects and personnel. Brian’s management responsibilities include budgeting, job costing, and field management. He oversees all project managers from inception of a project to completion of that project.
							</p>
							<%= link_to 'BrianL@AircoMech.com', 'mailto:BrianL@AircoMech.com' %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-lg-height col-middle col-lg-6">
				<div class="row">
					<div class="row-height">
						<div class="col-xs-12 col-sm-4 col-sm-height col-middle">
							<%= image_tag 'cory.jpg' %>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-height col-middle">
							<h3>Cory Bangs</h3>
							<h5>Special Projects Division Manager</h5>
							<p>Team Member since 2002</p>						
							<p>
								As the manager of the SPD Division, Mr. Bang’s responsibilities include conceptual budgeting, estimating, job costing, and division management. Cory is involved in the project from inception to completion for over 500 projects a year ranging from small TI’s in business offices to high profile hospitals, manufacturing sites and data centers. 
							</p>
							<%= link_to 'CoryB@AircoMech.com', 'mailto:CoryB@AircoMech.com' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row padding-sm">
		<div class="row-height">
			<div class="col-xs-12 col-lg-height col-middle col-lg-6">
				<div class="row">
					<div class="row-height">
						<div class="col-xs-12 col-sm-4 col-sm-height col-middle">
							<%= image_tag 'chris.jpg' %>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-height col-middle">
							<h3>Christopher Barker, P.E., LEED® AP</h3>
							<h5>Engineering Department Manager</h5>
							<p>Team Member since 2000</p>						
							<p>
								As Engineering Department Manager,  Mr. Barker designs HVAC, piping, and plumbing systems for Institutional, healthcare, industrial, food service, educational, and commercial projects. Specific systems designed include chiller, hydronic heating, double duct variable air volume, hot water reheat variable air volume, steam piping, industrial ventilation, plumbing, laboratory gas systems, and medical gas systems.
							</p>
							<%= link_to 'ChrisB@AircoMech.com', 'mailto:ChrisB@AircoMech.com' %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-lg-height col-middle col-lg-6">
				<div class="row">
					<div class="row-height">
						<div class="col-xs-12 col-sm-4 col-sm-height col-middle">
							<%= image_tag 'pete.jpg' %>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-height col-middle">
							<h3>Pete Young</h3>
							<h5>Safety Manager</h5>
							<p>Team Member since 1979</p>						
							<p>
								As a member of Plumbers and Pipefitters local 447, Mr. Young brings 4 decades of field safety to the management team.  Pete’s responsibilities include ensuring all personnel understand Airco’s commitment to safety and that our employees are in compliance with all regulations issued by the Occupational Safety and Health Administration (OSHA).  Pete works closely with the superintendents and foremen to mitigate safety risks. 
							</p>
							<%= link_to 'PeteY@AircoMech.com', 'mailto:PeteY@AircoMech.com' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row padding-sm">
		<div class="row-height">
			<div class="col-xs-12 col-lg-height col-middle col-lg-6">
				<div class="row">
					<div class="row-height">
						<div class="col-xs-12 col-sm-4 col-sm-height col-middle">
							<%= image_tag 'mark.jpg' %>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-height col-middle">
							<h3>Mark Gonsalves</h3>
							<h5>Chief Estimator</h5>
							<p>Team Member since 1996</p>						
							<p>
								Mr. Gonsalves has been in the construction industry for more than 30 years.  Mark oversees the Estimating Department at Airco Mechanical and is responsible for all estimates that Airco produces.   Mark provides detail cost analysis to compile competitive estimates.  He is a member of the American Society of Professional Estimators.
							</p>
							<%= link_to 'MarkG@AircoMech.com', 'mailto:MarkG@AircoMech.com' %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-lg-height col-middle col-lg-6">
				<div class="row">
					<div class="row-height">
						<div class="col-xs-12 col-sm-4 col-sm-height col-middle">
							<%= image_tag 'cody.jpg' %>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-height col-middle">
							<h3>Cody Snyder</h3>
							<h5>BMS Division Leader at Airco Automation</h5>
							<p>Team Member since 2009</p>						
							<p>
								Ms. Snyder has been in the HVAC Industry since 1996.  Cody leads a team of 30 in the Building Management Division. She is knowledgeable in pre-construction, design, estimating, schedule of values and change orders.  She directs and monitors staff by field coordination, daily jobsite review and equipment ordering.   
							</p>
							<%= link_to 'CSnyder@AircoAutomation.com', 'mailto:CSnyder@AircoAutomation.com' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row padding-sm">
		<div class="row-height">
			<div class="col-xs-12 col-lg-height col-middle col-lg-6">
				<div class="row">
					<div class="row-height">
						<div class="col-xs-12 col-sm-4 col-sm-height col-middle">
							<%= image_tag 'joan.jpg' %>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-height col-middle">
							<h3>Joan Carnago</h3>
							<h5>Relationship Manager</h5>
							<p>Team Member since 2015</p>						
							<p>
								Ms. Carnago has been in the commercial HVAC industry for more than 20 years.  Joan is responsible for promoting Airco’s products and services to the construction industry.  She fosters new and existing relationships with building owners, building managers, architects and engineers. 
							</p>
							<%= link_to 'JoanC@AircoMech.com', 'mailto:JoanC@AircoMech.com' %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-lg-height col-middle col-lg-6">
				<div class="row">
					<div class="row-height">
						<div class="col-xs-12 col-sm-4 col-sm-height col-middle">
							<%= image_tag 'al.png' %>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-height col-middle">
							<h3>Al Matthews</h3>
							<h5>Service Manager</h5>
							<p>Team Member since 2015</p>						
							<p>
								Mr. Matthews has been in the HVAC industry since 1971, starting as a Service Technician.  In his role as Service Manager, he leads a team of 10 technicians.  Al oversees all estimates, project management and business development for equipment preventative maintenance, retrofits and emergency repair work.  
							</p>
							<%= link_to 'AlM@AircoMech.com', 'mailto:AlM@AircoMech.com' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>