---
title: Thank you
---

<section class="u-hero">
	<div class="container">
		<h1>Thank you</h1>
	</div>
</section>

<div class="padding-lg">
	<div class="container">	
		<div class="row">
			<div class="col-xs-12">
				<h3>Your message has been sent</h3>
				<p>
					Thank you for contacting us. We will get back to you as soon as possible.
				</p>
				<ul class="margin-sm">
				  <li>
				  	<%= link_to 'About','about.html' %>
				  </li>
				  <li>
				  	<%= link_to 'Services','services.html' %>
				  </li>
				  <li><%= link_to 'Sustainability','sustainability.html'%></li>
				  <li><%= link_to 'Safety','safety.html'%></li>
				  <li><%= link_to 'Projects','projects.html'%></li>
				  <li><%= link_to 'Team','team.html'%></li>
				 </ul>
			</div>
		</div>
	</div>
</div>
